html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}


li {
    list-style: none
}

/*#rh-subnav {
    display: none;
}*/

abbr[title] {
    text-decoration: none;
    border-bottom: none;
    cursor: none;
}

hr {
    width: 70%;
    margin: 15px auto;
}

h1 {
    font: normal 30px 'Metamorphous', cursive;
    color: black;
    background-image: url(../img/title-background.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 40px;
    margin: auto;
}
h1 span {
    display: none;
}

h2 {
    color: #F1EADA;
    font: normal 50px 'Metamorphous', cursive;
    text-align: center;
    margin: 40px 0 20px 0;
}

article {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/winterfell.jpg);
    background-size: cover;
/*  background-color: black;*/
    margin: auto;
    text-align: center;
}

.main-text {
    width: 100%;
    text-align: center;
    padding: 30px 0 45px;
}

.main-text p {
    font: normal 17px 'Open Sans', sans-serif;
    line-height: 30px;
    color: #fff;
    max-width: 75%;
    margin: auto;
    text-align: left;
}

.main-text a {
    color: white;
    text-decoration: underline;
}

.button-box {
    display: block;
    text-align: center;
    margin-top: -40px;
}

.action-box {
    display: block;
    text-align: center;
    width: 600px;
    height: 400px;
    margin: 25px auto;
}

input {
    margin-top: 30px;
    padding: 10px;
    width: 300px;
    text-align: center;
    background-color: rgba(232,214,193,0.5);
    border: 2px dotted #F1EADA;
    border-radius: 5px;
    text-transform: uppercase;
    font: normal 20px 'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: white;
}

input::placeholder {
    color: white;
    text-transform: lowercase;
    font-size: 15px;
}

input:focus::-webkit-input-placeholder  {color:transparent;}
input:focus::-moz-placeholder   {color:transparent;}
input:-moz-placeholder   {color:transparent;}

.black {
    background-color: black;
    padding: 15px;
}
.black #motto, .black #house-name, .black #motto:first-letter {
    text-transform: unset;
}
.black #house-name:before,
.black #house-name:after {
    content: "";
    padding: 0;
}

#motto-image {
    float: left;
    margin-right: 15px;
}

#words-container {
    width: 275px;
    height: auto;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);    
}

#motto {
    color: #F1EADA;
    font: normal 36px 'Metamorphous', cursive;
    line-height: 50px;
    margin-bottom: 15px;
}

#motto:first-letter {
    text-transform: uppercase;
}

h4 {
    color: #F1EADA;
    font: normal 17px 'Metamorphous', cursive;
    line-height: 27px;
    text-transform: uppercase;
}

#house-name:before, #house-name:after {
    content: "\2666"; /*per http://www.evotech.net/blog/2007/04/named-html-entities-in-numeric-order/*/
} 

button {
    border: 2px solid #F1EADA;
    padding: 10px;
    background-color: rgba(232,214,193,0.5);
    border-radius: 5px;
    text-transform: uppercase;
    font: normal 15px 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
}
button + button {
    margin-left: 50px;
}

button:disabled, button[disabled] {
  border: 1px solid #999999;
  color: #b4b4b4;
}

#url {
    margin-top: 20px;
    font-size: 13px;
    color: #eee;
}
article p.byline {
    color: white;
    font-size: 12px;
    margin-bottom: 30px;
}

.hide {
    display: none;
}

/*#ra-share-top {
    padding-top: 5px;
    margin-bottom: 0;
}*/

#rh-subnav {
    display: none!important;
}

/* HANDHELD-SPECIFIC */
@media only screen and ( min-width: 220px ) and ( max-width:727px ) {

    .main-text {
        padding: 15px;
    }
    .main-text p {
        font-size: 15px;
        line-height: 22px;
        max-width: 95%;
    }
    .action-box {
        width: 95%;
    }
    article {
        width: 100%;
        height: auto;
    }
    h2 {
        font-size: 35px;
        margin-top: 25px;
    }
    input {
        width: 100%;
    }
    .button-box {
        margin-top: -20px;
    }
    #motto-image {
        float: none;
        width: 90%;
        margin: 0;
    }
    #motto {
        font-size: 24px;
        line-height: 34px;
        position: unset;
        top: unset;
        transform: none;
    }
    h4 {
        font-size: 14px;
        position: unset;
        top: unset;
        transform: none;
    }
    button {
        margin-top: 17px;
    }
    button + button {
        display: none;
    }

    .ad {
        height: 250px;
    }
}
/* TABLET-SPECIFIC */
@media only screen and ( min-width: 728px ) and (max-width:1023px) {
    .main-text {
        padding: 50px;
    }
    .main-text p {
        font-size: 15px;
        line-height: 22px;
        max-width: 95%;
    }
    h2 {
        font-size: 37px;
    }
    .button-box {
        margin-top: -25px;
        margin-bottom: 25px;
    }
}
/* HANDHELD & TABLET */
@media only screen and ( min-width: 220px ) and (max-width:1023px) {
}
